.emailBox {
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 999px;
    display: flex;
    align-items: center;
    width: 70%;
    position: relative;
    overflow: hidden;
    border: 1px solid gray
}

.emailBox>input {
    outline: none;
    border: none;
    margin-left: 1rem;
    font-size: 1rem;
    color: rgb(150, 150, 150);
    font-family: '__Josefin_Sans_584c1b', '__Josefin_Sans_Fallback_584c1b';
    flex: 1;
    background-color: white !important;
}

.emailBox>input::placeholder {
    font-size: 0.8rem;
}

.getFunded {
    position: absolute;
    right: 0.5rem;
    height: 80%;
    /* background-color: var(--secondary-color); */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 2rem;
    border-radius: 999px;
    color: white;
    background: linear-gradient(90deg, #00D32E, #02B6FE);
}

@media (max-width: 640px) {
  .emailBox {
    flex-wrap: wrap;
    padding-right: 1rem;
  }


  .getFunded {
    position: static;
    width: 100%;
    margin-top: 0.75rem;
    height: auto;
    padding: 0.75rem;
    text-align: center;
  }
}
