.bv-container .container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
}

.bv-video {
    width: 85%;
    border-radius: 2rem;
    margin-top: -5rem;
    z-index: 1;
    background: #000;
}

@media (max-width: 1024px) {
    .bv-video {
        margin-top: 1rem;
        width: 90%;
    }
}

@media (max-width: 768px) {
    .bv-video {
        border-radius: 1rem;
        width: 95%;
        margin-top: 0;
    }
}

@media (max-width: 480px) {
    .bv-video {
        border-radius: 0.75rem;
        width: 100%;
    }
}
